:root {
  --bg: #282828;
  --bg1: #3c3836;
  --sp: 12.5px;
  --sp2: calc(var(--sp) * 2);
}

body {
  background: var(--bg);
  color: white;
  font-family: sans-serif;
  font-size: large;
  margin: 0;
}

#plot {
  resize: both;
  overflow: hidden;
  margin: var(--sp2);
  height: 55vh;
}

#buttons, .series-box {
  margin: var(--sp2);
}

button {
  font-size: large;
  margin-right: var(--sp);
}

input {
  color: var(--bg);
  font-size: large;
  margin-left: 0;
}

#file-input {
 margin-left: 0;
}

.series-box {
  display: flex;
  flex-wrap: wrap;
  gap: var(--sp)
}

.series {
  flex: 1;
  padding: 20px;
  background-color: var(--bg1);
  background-origin: padding-box;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.series > * {
  display: block;
  margin-bottom: 5px;
  white-space: nowrap;
}

.series > button {
  margin-bottom: 0;
}

.series-selects {
  display: inline-grid;
  grid-template-columns: 40px 1fr
}

.series-selects > * {
  margin-bottom: 5px;
}

.series-selects > label {
  font-size: 0;
}

select {
  font-size: large;
  text-overflow: ellipsis;
  width: 100%;
}

.line-checkbox {
  margin-left: 15px;
}
